root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true

[*.{json,xml,yml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct,csproj,vbproj,sql}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false