# Project build artifacts
src/PeregrineDb/bin/
src/PeregrineDb/obj/
tests/PeregrineDb.Tests/bin/
tests/PeregrineDb.Tests/obj/
tests/PeregrineDb.PerformanceTests/bin/
tests/PeregrineDb.PerformanceTests/obj/
tests/PeregrineDb.PerformanceTests/BenchmarkDotNet.Artifacts/

artifacts/
tools/*
!tools/packages.config

**/packages/*
!**/packages/build/

# Visual Studio
.vs/
**/*.user

# Rider
.idea/**/contentModel.xml
.idea/**/modules.xml
.idea/**/workspace.xml
.idea/**/*.iml

# Other tools
_NCrunch_*
ncrunchtemp*
.vagrant/