# Project build artifacts
src/PeregrineDb/bin/
src/PeregrineDb/obj/
tests/PeregrineDb.Tests/bin/
tests/PeregrineDb.Tests/obj/

# Standard VS folders
**/packages/*
!**/packages/build/

.vs/
**/*.user
_NCrunch_*